<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <title>Restaurant Project</title>
</head>

body {
  padding: 1px solid #DEB887;
  background: #FFE4C4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#header-nav {
  background-color: #FFF8DC;
  border-radius: 0;
  border: 0;
}

#main-content h2 {
  text-align: center;
}

*{
  box-sizing: border-box;
}

#chicken-tile, #beef-tile, #sushi-tile {
  height: 250px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: #FFF8DC;
  text-align: center;
}

#chichen-tile:hover, #beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0px 1px 5px 1px #cccccc;
}

#chicken-tile span, #beef-tile span, #sushi-tile span {
  font-size: 1.6em;
}
